body {
    font-family: cursive;
    background-color: rgb(67, 34, 117);
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .input-container {
    margin: 20px;
  }
  #calendar {
    width: 80%;
    margin: auto;
  }
  #lista-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .tarea-card {
    background: #9776ad;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .tarea-card button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: rgb(239, 238, 238);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  h1{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }